# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Custom
.vs/
ChatProject/Output
ChatProject/Build
ChatProject/Src/Server/Server.vcxproj.user
ChatProject/Src/Client/Client.vcxproj.user

resources/